header{
    height:100px;
    width: 100%;
}
header .header{
    width: 90%;
    height: 100px;
    margin: 0px auto;
}
header .header .logo{
    width: 100px;
    height: 100px;
    float: left;
}
header .header .logo a{
    float: left;
    margin-top: 33px;
    width: 100px;
    height: 33px;
    background: url(/img/logo.png) no-repeat center center;
    background-size: 100px 33px;
}
header .right{
    width: 500px;
    height: 65px;
    float: right;
    padding-top: 35px;
}
header .right input{
    width: 210px;
    outline: none;
    border: none;
    border-bottom: 1px solid;
    float: left;
}
header .right .search{
    float: left;
}
header .right .suggest{
   position: absolute;
   z-index: 99;
   width: 210px;
   background: #ffffff; 
   margin-top: 20px; 
}
header .right .suggest ul li{
   font-size: 12px;
   margin: 5px;
}
header .right #regis{
    text-decoration: none;
    color: #000000;
    margin-right: 16px;
    font-size: 15px;
}
header .right #login{
    margin-left: 38px;
    text-decoration: none;
    color: #000000;
    margin-right: 16px;
    font-size: 15px;
}
header .right #huanying{
    display: none;
    float: left;
    margin:0px 16px;
    font-size: 15px;
}
header .right #cancel{
    display: none;
    float: left;
    margin-right: 16px;
    font-size: 15px;
}
header .header .right .shop{
    width: 66px;
    height: 22px;
    float: right;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
header .header .right .shop a:nth-child(1) {
    display: block;
    width: 23px;
    height: 16px;
    background: url(../img/shop.jpg) no-repeat center left;
    /*float: left;*/
}
header .header .right .shop a:nth-child(1) #carnum{
    color: red;
    font-weight: bolder;
    float: right;
}
header .header .right .shop a:nth-child(2) {
    display: block;
    width: 22px;
    height: 22px;
    background: url(../img/china.jpg) no-repeat center center;
    /*float: right;*/
}